<article class="full-description--product-page rte">

<p>Too often, financial advice jumps right to the minutiae of investments, skipping over the deeper questions of what people really want from their money, both now and in the future. Ellen Rogin and Lisa Kueng teach their clients and workshop audiences to do the opposite. First, people need to think deeply about their short-term and long-term goals, whether they’re as practical as paying for college and setting up a retirement plan or as aspirational as buying a sailboat and traveling the world. Only then should people start considering their investment options.</p>

<p>Rogin and Kueng provide a clear, seven-step process for envisioning goals, designing a customized plan, and breaking the plan into manageable steps. Their fun voice, emphasis on positive thinking, and deep grasp of the nuances of investing will help women see the financial planning process as inspirational, full of possibility, and even fun. The end result for readers: having the resources they need to create the life they’ve imagined.</p>

<p>Picture Your Prosperity will help you think deeply about your short-term and long-term goals, whether they’re as practical as paying college tuition or as aspirational as traveling around the world. [a]Once your vision is clear, Ellen and Lisa show how to design your investments to create the life you’ve envisioned. Soon you’ll feel more in control of your finances and on the road to the things that [b]matter most to you. You’ll have a clear, customized plan that’s broken down into manageable steps.</p>

<p>As Ellen and Lisa write, “Your money is important, but money is meaningless if it can’t be connected to the rest of your life. Who cares what the totals on your balance sheet or in your bank account are if you can’t use them to build the kind of life you want? What good is having a brilliant investment strategy if you worry incessantly about losing it, constantly fight with your partner about money, or come home and kick your dog on days the market drops? What if instead you felt positive, peaceful, and prosperous?”</p>
</article>
<div class="cta">
<h4>Learn more about Lisa & Ellen:</h4>
<a class="button cta" href="/pages/about">About the authors</a>
</div>
