<div class="payment-options footer-module">

  <span class="maestro">&#58130;</span>
  <span class="interac">&#58119;</span>
  <span class="visa">&#58113;</span>
  <span class="mastercard">&#58114;</span>
  <span class="discover">&#58117;</span>

  <span class="american-express">&#58115;</span>
  <span class="google-wallet">&#58121;</span>
  <span class="paypal">&#58116;</span>

  <span class="cirrus">&#58120;</span>
  <span class="stripe">&#58118;</span>

</div>
