<div class="home-module-wrapper home-hero use-color-background">
  <div class="home-module">
    <div class="home-hero-text ">
      <p>Everyone has a unique vision of a prosperous and secure future.</p>
      <h3>What’s yours?</h3>
      <a class="button" href="/products/picture-your-prosperity-pre-order">PRE-ORDER</a>
    </div>
    <div class="home-hero-image">
      {{ 'render-big-alpha.png' | asset_url | img_tag: 'Picture Your Prosperity Cover' }}
    </div>
  </div>
</div>
<div id="contrast-bg-1" class="home-module-wrapper contrast">
  <div class="home-module home-full-width-feature image-bg">
    <h2 class="quote">“Your money is important, but money is meaningless if it can’t be connected to the rest of your life.”</h2>
  </div>
</div>
<div class="home-module-wrapper default ">
  <div class="home-module home-full-width-feature cta">
    <div id="preorder-masthead">
      <h2 class="headline" style="font-size: 36px;">Pre-order now and receive a set of valuable bonus material and resources for free.</h2>
    </div>
    <a class="button cta" href="/products/picture-your-prosperity-pre-order">PRE-ORDER NOW</a>
    <article class="home-full-width-feature-text">
      <div class="rte">
        <p>If someone asked you to describe prosperity and security, what would you see in your mind’s eye? Is it finally taking that trip to Paris? A beachfront mansion? Or simply the joy of making your final mortgage payment and staying right where you
          are? In your fantasy are you piloting a new luxury car, a sailboat, or a bicycle?</p>
        <p>Too often, financial advisors jump right into the minutiae of investments, skipping over the deeper questions of what you really want from your money, both now and in the future. But in Picture Your Prosperity, Ellen Rogin and Lisa Kueng do the
          exact opposite. First they’ll help you figure out exactly what YOU need and want. Only then will they help you make the smart money decisions that can help turn your visions into reality.</p>
      </div>
    </article>
  </div>
  <div class="home-module-wrapper">
    <h3 class="section-title bottom">Get ready to feel more excited than ever about your money, and about all the good things it can bring you.</h3>
    </div>
  </div>
</div>
