
{% comment %}<div class="home-module-wrapper default">
  <div class="home-module home-full-width-feature cta">{% endcomment %}
    {{ page.content }}
  <!-- #page-content -->
{% comment %}  </div>
</div>{% endcomment %}